<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Recitation</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                
                const socket = io();
                const url = ['present_user', 'user_raise_hand', 'disconnected_user'];

                for(let i=0; i<url.length; i++){
                    socket.on(url[i], function(data){
                        $('#content').append(`<p>${data.result}</p>`);
                    });
                }

                $('#submit').click(function(){
                        socket.emit('raise_hand', {id: socket.id});
                        console.log('clicked submit');
                        return false;
                });

            });
    </script>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            <input type="submit" value="Raise Hand" id="submit">
        </form>
        <div id="content">
        </div>
    </div>    
</body>
</html>