<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Recitation</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                const socket = io();
                const content = document.getElementById('content');
                socket.on('present_id', function(data){
                    $("#content").append(`<p>Socket id ${data.id} is present</p>`);
                });
                
                $('#submit').click(function(){
                    socket.on('present_id', {id: socket.id});
                    return false;
                });
            });
    </script>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            <input type="submit" value="Raise Hand" id="submit">
        </form>
        <div id="content">
        </div>
    </div>    
</body>
</html>