*{
    color: #34C65C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    body{
        background-color: #1E1E1F;
    }
        h1, h2{
            text-align: center;
        }
        #online{
            display: inline-block;
            vertical-align: top;
            margin: 10px;
            width: 300px;
            height: 500px;
            border: 1px solid #34C65C;
        }
        #content{
            width: 600px;
            height: 500px;
            border: 1px solid #34C65C;
        }
            #content p,.chat-text{
                margin: 10px 0 0 10px;
                text-align: start;
            }
            .chat-text{ 
                color: white;
            }
        form{
            width: 500px;
        }
        #content, form{
            margin: 20px 80px;
        }
            input{
                border: none;
                padding: 7px; 
                width: 560px;
                color: black;
            }
            #submit{
                width: 80px;
                background-color: blue;
                border: none;
                border-radius: 3px;
                margin-left: 520px;
                margin-top: 10px;
            }