<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote Page</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>You are Visitor #<%= display.count %></h1>
    <p>"<%= display.message %>"</p>
    <form action="/reset" method="GET">
        <input type="submit" value="Reset" id="reset">
    </form>
    <form action="/repeat" method="GET">
        <input type="submit" value="Repeat" id="repeat">
    </form>
</body>
</html>