*{
    font-family: sans-serif;
}
    body{
        background-image: linear-gradient(rgba(0,0,0,255), rgba(0,0,10,100),rgba(0,0,0,100),rgba(0,0,0,255));
        /* background-color: #F766AD; */
    }
    p{
        animation: expand 10s infinite; 
    }
    @keyframes expand {
        from {
                width: 0;
                height: 0;
            }
        to {                
                width: 100px;
                height: 100px;
                opacity: 0;
            }
      }




