<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <h1>Welcome 
            <span><%= student.firstName %></span>
        </h1>
        <a href="/logout">Logoff</a>
        <div id="info">
            <p>First Name: 
                <span><%= student.firstName %></span>
            </p>
            <p>Last Name: 
                <span><%= student.lastName %></span>
            </p>
            <p>Email Address: 
                <span><%= student.email %></span>
            </p>
        </div>

    </div>
</body>
</html>