<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div id="container">
        <form action="loginProcess" method="POST">
            <h2 class="login-h2">Log In</h2>
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" />
            <span><%= errors && errors.email %></span>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <span><%= errors && errors.password %></span>
            <input id="login-btn" type="submit" value="Log in">
        </form>
        <p>No account? <a href="/register">Register</a></p>
    </div>
</body>
</html>