<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <div id="container">
        <form action="/registrationProcess" method="POST">
            <h2 class="register-h2">Register</h2>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" />
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
            <input id="register-btn" type="submit" value="Register">
        </form>
        <p>Already have account? <a href="/login">Log in</a></p>
    </div>
</body>
</html>