<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <h1>You did <%= visit %>x visiting this page.</h1>
        <h2>You have <%= count %> cars</h2>
        <p>The cars in the database are as follows:</p>
        <ul>
            <li>Lamborgini - 2021</li>
            <li>Ferrari - 2018</li>
            <li>Mercedez-Benz - 2019</li>
        </ul>
    </div>
    <form action="">
        <input type="submit" value="Reset">
    </form>
    
</body>
</html>
