*{
    text-align: center;
    font-family: sans-serif;
    color: #34C65C;
}
    body{
        background-color: #1E1E1F;
    }
        form{
            display: block;
            margin: 20px;
        }
            input{
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
            }
            #reset{
                background-color: red;
                color: wheat;
            }
            #repeat{
                background-color: green;
                color:azure
            }