<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Movies</h1>
    <img src="/images/special-delivery.jpg" alt="special delivery movie photo">
    <img src="/images/onepiece.png" alt="one piece red photo">
    <a href="/movies/new">Add a movie</a>
    <a href="/">Home</a>

</body>
</html>