<!DOCTYPE html>
<html lang="en">
<head>
    <title>Theaters</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Theaters</h1>
    <h2>Newport Performing Arts Theater</h2>
    <img src="/images/newport.jpg" alt="new port theater photo">
    <h2>Leyte Dance Theater</h2>
    <img src="/images/leyte.gif" alt="leyte dance theater gif">
    <a href="/">Home</a>
</body>
</html>