<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multiplayer</title>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/multiplayer.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            window.onload = (event) => {
                const socket = io();
                var player = new Player(socket.id);

                var enemy1 = new Enemy(1, 150, 10);
                function collide(){
                    console.log('player:', player);
                    console.log('enemy:', enemy1);
                    if(player.x == enemy1.x && player.y == enemy1.y){
                        console.log('player:', player);
                        console.log('enemy:', enemy1);

                        // document.getElementById('score').innerHTML = 'game over';
                    }

                }
        


                // socket.on('new_player', function(req){
                //     var player = new Player(req.id);
                // });

                let gameLoop = () => {
                    collide();
                    player.display();
                    player.fire();
                    player.fireMovement();
                    enemy1.display();
                    enemy1.movement();

                }

                setInterval(gameLoop, 9);
                

            };

        </script>
    </head>
    <body>
            <audio src="/audio/nikki.mp3" id="main_audio" loop="loop"></audio>
            <audio src="/audio/bullet-fire.wav" id="bullet_audio" ></audio>
            <div class="nav">SPACE IMPACT 1945</div>
            <div class="nav">
                <div id="score">0</div>
            </div>
            <div id='container'>
                <div id='player'></div>
                <div id='enemies'></div>
                <div id='bullets'></div>	
            </div>

            <!-- <div id='players'></div> -->
    </body>
</html>