<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multiplayer</title>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/multiplayer.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            window.onload = (event) => {
                const socket = io();
                var enemy = new Enemy();
                
                socket.emit('new_player', {id: socket.id});

                socket.on('existing_players', (data) => {
                    console.log('player from io server:', data.players);
                    var players = new Player(data.players);
                    players.display();
                    players.movement();

                    let gameLoop = () => {
                    
                    enemy.display();
                    enemy.movement();
                }
                setInterval(gameLoop, 9);

                });
                
                


                
                
            };

        </script>
    </head>
    <body>
            <audio src="/audio/nikki.mp3" id="main_audio" loop="loop"></audio>
            <audio src="/audio/bullet-fire.wav" id="bullet_audio" ></audio>
            <audio src="/audio/dead.wav" id="dead" ></audio>
            <div class="nav">SPACE IMPACT 1945</div>
            <div class="nav">
                <div id="score">0</div>
            </div>
            <div id='container'>
                <div id='players'></div>
                <div id='enemies'></div>
                <div id='bullets'></div>
                <div id='game-status'></div>	
            </div>

            <!-- <div id='players'></div> -->
    </body>
</html>