<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multiplayer</title>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/multiplayer.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            window.onload = (event) => {
                const socket = io();
                var players = [];
                
                socket.on('new_player', function(req){
                    players.push(req.id);
                    console.log('player count:', players.length);
                    return players;
                });

                console.log('player count:', players.length);
                var player = new Player(80);
                


                var blockSize = 110;
                console.log(blockSize - (blockSize % 20));

                var enemy = new Enemy(1, 120, 10);
                function collide(){
                    if(enemy.x == player.x && enemy.y == player.y){
                        document.getElementById('dead').play();
                        document.getElementById('game-status').innerHTML = 'Game over';
                        player.position = `-110px -35px  `;
                    }

                }

                function bulletCollide(){
                    
                }
                
                let gameLoop = () => {
                    collide();
                    player.display();
                    player.fire();
                    player.fireMovement();
                    enemy.display();
                    enemy.movement();
                }
                console.log('game', gameLoop());


                setInterval(gameLoop, 9);

                

            };

        </script>
    </head>
    <body>
            <audio src="/audio/nikki.mp3" id="main_audio" loop="loop"></audio>
            <audio src="/audio/bullet-fire.wav" id="bullet_audio" ></audio>
            <audio src="/audio/dead.wav" id="dead" ></audio>
            <div class="nav">SPACE IMPACT 1945</div>
            <div class="nav">
                <div id="score">0</div>
            </div>
            <div id='container'>
                <div id='player'></div>
                <div id='enemies'></div>
                <div id='bullets'></div>
                <div id='game-status'></div>	
            </div>

            <!-- <div id='players'></div> -->
    </body>
</html>