<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Multiplayer</title>
        <link rel="stylesheet" href="/stylesheet/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/multiplayer.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            window.onload = (event) => {
                const socket = io();

                socket.on('online_player', function(data){
                    console.log(data.length);
                    // for(let i=0; i<data.lenght)

                });
                

                var player = new Player();
                /* OOP  */
                
                function gameLoop(){
                    player.display();
                }

                setInterval(gameLoop, 100);
                
            };
        </script>
    </head>
    <body>
            <audio src="/audio/nikki.mp3" id="main_audio" loop="loop"></audio>
            <audio src="/audio/bullet-fire.wav" id="bullet_audio" ></audio>

            <div id='container'>
                <div id="nav"></div>
                <div id='hero'></div>
                <div id='enemies'></div>
                <div id='bullets'></div>	
            </div>

            <!-- <div id='players'></div> -->
    </body>
</html>