@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
    body {
        width: 100vw;
        height: 100vh;
        background: conic-gradient(from 32deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat; 
        background-size: 200% auto;
        animation: gradient-animation 4s linear infinite;
    }
        #container {
         display: inline-block;
         padding: 20px;
         margin:  3% 40.6%;
         border: 1px solid black;
         border: 1px solid white;
        }
            h2 {
                margin: 10px 0;
                text-align: center;
                text-shadow: 1px 1px rgb(194, 239, 253);
            } 
            .login-h2 {
                color: #037e8a;
            }
            .register-h2 {
                color: #035956;
            }
            
            label {
                display: block;
            }
            input {
                padding: 0 10px;
                margin: 10px 0;
                width: 200px;
                height: 2em;
                border: none; 
                border-radius: 3px;
            }
            #login-btn, #register-btn {
                width: 220px;
            }
            #login-btn {
                display: block;
                background-color: #23B7C5;
                color: whitesmoke;
            }
            #register-btn {
                background-color: #035956;
                color: whitesmoke;
            }

            p {
                text-align: center;
            }
                a {
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
    