<html>
<head>
    <title>Group Chat</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){

            var name = prompt('What is your name');
            const socket = io.connect();
            var new_user = "";

            if(name != ""){
                socket.emit("got_a_new_user", {name: name});
               
                socket.on("new_user", function(req){
                    new_user = req.new_user_name;
                    console.log('new_user:', new_user);
                    let str = `Server: ${req.new_user_name} has joined the group`;
                    document.getElementById('announcement').innerHTML = str;
                });
            }

            socket.on("existing_users", function(req){
                let str = ``;
                for(let i=0; i<req.users.length-1; i++){
                    console.log(req.users.name);
                    str += `<div class="chatbox"><h2>${req.users[i].name}</h2></div>`
                }
                document.getElementById('group').innerHTML = str;
            });

        });
    </script>
</head>
<body>
    <h1>Welcome to Chatroom</h1>
    <div id="announcement"></div>  
    <div id="group">

    </div>
    <!-- <div id="chatbox">
        <h2>Sample Name</h2>
    </div> -->
</body>
</html>