<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <div class="content">
        <h1>Submitted Entry</h1>
        <p> <span>Your Name (optional):</span>  <%= user.name %></p>
        <p> <span>Course Title:</span>  <%= user.course %> </p>
        <p> <span>Given Score (1-10):</span>  <%= user.score %> </p>
        <p> <span>Reason:</span>  <%= user.reason %></p>
    </div>
</body>
</html>