body{
    background-color:#1E1E1F;
    margin: 0;
}
    .s{
        color: white;
    }
    #container{
        background-image: url('/images/background.gif');
        background-position: -850px -180px;
        background-size: cover;
        margin: 0 20px;
        width: 750px;
        height: 780px;
        position:absolute;
        border: 1px solid gray;
    }
        .nav{
            text-align: center;
            font-size: 1.72rem;
            color: lightgray;
            background-color:#1E1E1F;
            /* padding: 10px; */
            margin: 10px 0 10px 20px;
            width: 750px;
            height: 50px;
        }
        #player{
            background: url('/images/1942.gif');
            background-position: -85px -180px;
            width: 28px;
            height: 28px;
            position:absolute;
            top: 90%;
            left: 20%
        }
        /* #player2{
            background: url('/images/1942.gif');
            background-position: -85px -180px;
            width:28px;
            height:28px;
            position:absolute;
            top: 90%;
            left: 80%
        } */
        .enemy1{
            background: url('/images/1942.gif');
            background-position: 0 -10px;
            width:28px;
            height:28px;
            position:absolute;
        }
        .enemy2{
            background: url('/images/1942.gif');
            background-position: -30px -10px;
            width:28px;
            height:28px;
            position:absolute;
        }
        .enemy3{
            background: url('/images/1942.gif');
            background-position: -60px -10px;
            width:28px;
            height:28px;
            position:absolute;
        }
        .enemy4{
            background: url('/images/1942.gif');
            background-position: -90px -10px;
            width:28px;
            height:24px;
            position:absolute;
        }
        .enemy5{
            background: url('/images/1942.gif');
            background-position: -120px -10px;
            width:28px;
            height:24px;
            position:absolute;
        }
        .enemy6{
            background: url('/images/1942.gif');
            background-position: -150px -10px;
            width:28px;
            height:24px;
            position:absolute;
        }
        .enemy7{
            background: url('/images/1942.gif');
            background-position: -180px -10px;
            width:28px;
            height:24px;
            position:absolute;
        }
        .bullet{
            background: url('/images/1942.gif');
            background-position: -185px -400px;
            width:18px;
            height:18px;
            position:absolute;
        }
        #score{
            color: gray;
            border: 1px solid gray;
            margin: 10px  auto;
            padding:10px;
            width: 60px;
            height: 30px;
            font-size:30px;
            text-align: center;
            font-family: Arial;	
        }
        #game-status{
            color: red;
            /* border: 1px solid red; */
            text-align: center;
            margin: 300px auto;
            padding: 20px 40px;
            width: 100px;
            height: 30px;
        }
   